  body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            justify-content: center;
             align-items: center; 
            height: 100vh;
        }
        /* * Navbar Layout */ 
header{
  background: hsl(231.77, 52.1%, 53.33%);
  color: white;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
} 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

/* LEFT (Logo) */
.nav-left {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 600;
}

.logo-text {
  font-size: 20px;
}

/* CENTER (Links) */
.nav-center {
  display: flex;
  gap: 25px;
}

/* RIGHT (Search) */
.nav-right input {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* Links */
nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

/* Hover underline */
nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #22c55e;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: #22c55e;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
        form {
            font-family: Arial, sans-serif;
            background-color: #fff;
            padding: 30px;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;

        }

        button {
            width: 107%;
            padding: 10px;
            background-color: #4F46E5;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #218838;
        }
    